header {
    .navbar {
        background-color: #00000060;
        button {
            &:focus {
                box-shadow: none !important;
            }

            i {
                color: #fff;

                
            }
        }
        .navbar-brand {
            width: 45px;
            img {
                width: 100%;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #fff;
                    font-family: "Merriweather", serif;
                    padding: 1rem;
                    margin-left: 2rem;

                    &:hover {
                        color: #00CDAC;
                    }
                }
            }
        }
    }
}