@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Merriweather&family=Roboto&display=swap');

@import "vairables";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Globar Parameters
h1, h2 {
    font-family: $roboto;
}

h3, h4, h5 {
    font-family: $merryWeather;
}

p {
    font-family: $anek;
}


@import "./header";

@import "./home";

// Services Section
.services {
    @include marginOverflow();
    .services-wrap {
        .services-header {
            hr {
                width: 20%;
                margin: 0 auto;
                height: 2px;
                color: #02AAB0;
            }
            h2 {
                text-transform: uppercase;
                margin: 10vmin 0;
                font-size: 3rem;
            }
        }

        .services-body {
            .services-box {
                padding: 20px;

                border-radius: 10px;
                margin-bottom: 6vmin;
                height: 300px;
                i {
                    font-size: 3rem;
                    border-radius: 50%;
                    padding: 20px;
                    background-color: #00CDAC;
                    color: #fff;
                    transition: .5s;
                    margin-bottom: 5vmin;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                        
                    }
                }

                h3 {
                    font-size: 1.25rem;
                }

                p {
                    font-size: 1rem;
                    line-height: 2;
                }
            }
        }
    }
}

// Services 2 Section
.services-2 {
    background-color: #F6F6F7;
    @include marginOverflow();
    .ser-2-wrap {
        .ser-2-left-box {
            h3 {
                font-size: 2.5rem;
                margin: 2rem 0;
            }

            h4 {
                font-size: 20px;
                color: gray;
                margin-bottom: 2rem;
                line-height: 2;
                font-weight: 400;
            }

            p {
                line-height: 2;
                font-size: 1.1rem;
                text-align: justify;
            }

            button {
                background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
                padding: 15px 30px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                border: none;
                color: white;          
                border-radius: 3px;
                display: block;
                &:focus {
                    box-shadow: none !important;
                }
                &:hover{
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .ser-2-right-box {
            img {
                width: 100%;
                margin-top: 2rem;
            }
        }
    }
}

// Gallery Section
.gallery {
    background-color: #F6F6F7;
    @include marginOverflow();
    .gallery-box {
        margin: 0;
        padding: 0;
        overflow: hidden;

        &:hover img {
            transform: scale(1.5);
        }
        img {
            width: 100%;
            filter: grayscale(0.5) brightness(0.5);
            transition: 0.5s all ease-in-out;

            &:hover {
                filter: grayscale(0) brightness(1);
            }
        }
    }
}

// Service 3 Section
.services-3 {
    @include marginOverflow();
    background-color: #F6F6F7;

    .ser-3-top {
        text-align: center;
        h3 {
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }
    }
    .card-box {
        .card {
            height: 400px;
            margin-top: 2rem;
            transition: 0.5s all ease-in-out;
            overflow: hidden;

            &:hover {
                transform: translateY(-40px);
            }
            img {
                height: 200px;
                margin-bottom: 1rem;
                transition: .5s;
            }
        }
        
    }
}


// Footer Top Section
.footer-top {
    padding: 20vmin 0;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

    .footer-box-left {
        h3 {
            color: #fff;
        }
        p {
            color: #fff;

            a {
                text-decoration: none;
                color: tomato;
            }
        }
    }
    
    .footer-box-right {
        
    }
}

.footer-bottom {
    background-color: #000;
    p {
        margin: 0;
        padding: 1rem 0px;
        color: #fff;
        word-spacing: 5px;
        text-align: center;
    }
}



